<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Intagleo Report</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, :class => "nav-link" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item pull-right">
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>  
        </li>
      <% end %>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link disabled" href="#">Disabled</a>-->
<!--      </li>-->
<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
<!--        <div class="dropdown-menu" aria-labelledby="dropdown01">-->
<!--          <a class="dropdown-item" href="#">Action</a>-->
<!--          <a class="dropdown-item" href="#">Another action</a>-->
<!--          <a class="dropdown-item" href="#">Something else here</a>-->
<!--        </div>-->
<!--      </li>-->
    </ul>

  </div>
</nav>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->



  <div class="container mt-5">
    <!-- Example row of columns -->
    <form accept-charset="UTF-8" action=<%= reports_path %> method="get" autocomplete="off">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control datepicker " name="start_date" id="start_date" placeholder="Start date" value = "<%= params[:start_date].present? ? params[:start_date] : '' %>">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">

            <input type="text" class="form-control datepicker" name="end_date" id="end_date" placeholder="End date", value= "<%= params[:end_date].present? ? params[:end_date] : '' %>">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <input type="text" class="form-control" id="search_name" placeholder="Search by name" name="search_name" value = "<%= params[:search_name].present? ? params[:search_name] : '' %>">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="search_button">Submit</button>
          </div>
        </div>
      </div>
      
      <hr>
      <div class="row mt-4 mb-4">
        <div class="col-md-9" >
          <h2 class="mb-4" >Report</h2>
          <span style="color: #666666">1- Too high value in HRM attendance column means resource forgot to log out.</span><br>
          <span style="color: #666666">2- Too high value in HR sheet means resource did not follow standard pattern of HR time sheet.</span><br>
          <span style="color: #666666">3- We have handled night shift resources in our algorithm.</span><br>
          <span style="color: #666666">4- Not all resources are covered because javed is still working on network logs of all employees.</span><br>
          
        </div>
      </div>

      <hr>

      <div class="row mt-4 mb-4">
        

        <div class="col-md-12">
          <div style="float: right"><%= link_to "Generate Report", generate_sheet_reports_path ,:class => "btn btn-primary btn-sm" ,  :id => "generate_report", :onclick => 'return openPopup(this);' %></div>
         <!--  <%= form_tag({:controller => 'reports', :action => 'generate_sheet'},:id => 'filter_form', :remote => true) do %>
              
            <%= submit_tag 'save', :name => 'commit'%><%end%> -->

          <!-- <button id="generate_report_btn"> G R </button> -->
        </div> 
      </div>
    </form>
    <!--         -->
    <div class="row">
      <div class="col-md-12">

        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">HR Sheet Time</th>
            <th scope="col">Network Sheet Time</th>
            <th scope="col">HRM Attendance Total Time</th>
            <th scope="col">Report Date</th>
            <th scope="col">Status</th>
          </tr>
          </thead>
          <tbody>

          <% sr = 0 %>
          <% (@start_Date..@end_date).each do |date_report| %>
            <% @employees.each do |emp| %>
              <% r1 = Report.find_by(emp_id: emp.employee_id,report_date: date_report, source: "HR Sheet") %>
              <% r2 = Report.find_by(emp_id: emp.employee_id,report_date: date_report, source: "Network Sheet") %>
              <% r3 = Report.find_by(emp_id: emp.employee_id,report_date: date_report, source: "HRM_ATTENDENCE") %>
              <%# next unless r1.present? || r2.present? || r3.present? %>
              <tr><% sr = sr + 1 %>
              <td><%= sr %></td>
              <td><%= emp.employee_id %></td>
              <td><%= emp.name %></td>
              <td <% if (r1.present?) && (r1.time_in_office > 0 && r1.time_in_office <= 3)%>style = "background: red;" <% end  %> ><%= r1.time_in_office.round(1) if r1.present? %></td>
              <td <% if (r2.present?) && (r2.time_in_office > 0 && r2.time_in_office <= 3)%>style = "background: red;" <% end  %> ><%= r2.time_in_office.round(1) if r2.present? %></td>
              <td <% if (r3.present?) && (r3.time_in_office > 0 && r3.time_in_office <= 3)%>style = "background: red;" <% end  %> ><%= r3.time_in_office if r3.present? %></td>
              <td><%= date_report %></td>
              <td>
                <%
                  diff = nil
                  if r1.present? && r1.time_in_office != 0
                    if r2.present? && r2.time_in_office - r1.time_in_office <= -2 && r2.time_in_office != 0
                      diff = r2.time_in_office - r1.time_in_office
                    else
                      if r3.present?
                        if (r3.time_in_office.round(1) - r1.time_in_office) <= -2 && r3.time_in_office != 0
                          diff = r3.time_in_office.round(1) - r1.time_in_office
                        end
                      end
                    end
                  else
                    if r3.present? && r2.present?
                      if (r2.time_in_office.round(1) - r3.time_in_office) <= -3 && r2.time_in_office != 0
                        diff = r2.time_in_office.round(1) - r3.time_in_office
                      end
                    end
                  end
                %>
                <% if diff.present? %>
                  <button class="btn btn-danger btn-sm" ><%= diff.round(1) if diff.present? %></button>
                <% else %>
                -
                <% end %>
              </td>

              </tr>
            <% end %>
          <% end %>


          </tbody>
        </table>
      </div>

    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; <a href="https://www.intagleo.com/" target="_blank">Intagleo.com</a> 2019</p>
</footer>
<script type="text/javascript">
    $(document).ready(function(){
        $('#page-loader').hide();

        $('.datepicker').datepicker();
    });
    // $( "#generate_report_btn" ).click(function() {
    //     $.ajax({
    //      url: "/reports/generate_sheet",
    //      type: "GET",
    //      success: function(data) {
          
    //       alert(data.filename);
    //       // $.ajax({url: "/reports/download_sheet", type: "GET"});
            
            
    //        }
    //      });
    //     // $('#page-loader').show();
    // });
    function openPopup(link)
      {
          // link.hide();
          
      
          var myWindow = window.open(link.href,'');

          // return false;
      }
    $( "#generate_report" ).click(function(e) {
      e.preventDefault();
        // alert("Your downloading will begin shortly");
        // $('#page-loader').show();
    });
    $( "#search_button" ).click(function() {
        $('#page-loader').show();
    if ($('#start_date').val() == "" && $('#end_date').val() == "" && $('#search_name').val() == "")
    {
        alert("Please enter name or date");
        $('#page-loader').hide();
        return false;
    }
    if (($('#end_date').val() == "" || $('#start_date').val() == "") && $('#search_name').val() == "")
    {
        if ($('#end_date').val() == "")
        {
            alert("Please enter end date");
            $('#page-loader').hide();
            return false;
        }
        if ($('#start_date').val() == "")
        {
            alert("Please enter start date");
            $('#page-loader').hide();
            return false;
        }
    }
    });
</script>